C8oNetPclSDK[!!-~]Solution/C8oNetPclSDK/bin
C8oNetPclSDK[!!-~]Solution/C8oNetPclSDK/obj
C8oNetPclSDK[!!-~]Solution/Sample01Android/bin
C8oNetPclSDK[!!-~]Solution/Sample01Android/obj
C8oNetPclSDK[!!-~]Solution/Sample01WindowsPhone/Bin
C8oNetPclSDK[!!-~]Solution/Sample01WindowsPhone/obj
C8oNetPclSDK[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.Droid/bin
C8oNetPclSDK[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.Droid/obj
C8oNetPclSDK[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.WinPhone/Bin
C8oNetPclSDK[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.WinPhone/obj
C8oNetPclSDK[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.iOS/bin
C8oNetPclSDK[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.iOS/obj
C8oNetPclSDK[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms/bin
C8oNetPclSDK[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms/obj
