C8oSDKDotNet[!!-~]Solution/C8oSDKPCL/bin
C8oSDKDotNet[!!-~]Solution/C8oSDKPCL/obj
C8oSDKDotNet[!!-~]Solution/Sample01Android/bin
C8oSDKDotNet[!!-~]Solution/Sample01Android/obj
C8oSDKDotNet[!!-~]Solution/Sample01WindowsPhone/Bin
C8oSDKDotNet[!!-~]Solution/Sample01WindowsPhone/obj
C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.Droid/bin
C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.Droid/obj
C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.WinPhone/Bin
C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.WinPhone/obj
C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.iOS/bin
C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.iOS/obj
C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms/bin
C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms/obj
C8oSDKDotNet/.nuget
C8oSDKDotNet/C8oSDKPCL/bin
C8oSDKDotNet/C8oSDKPCL/obj
C8oSDKDotNetSamples/.nuget
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/C8oSDKPCL/bin
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/C8oSDKPCL/obj
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01Android/bin
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01Android/obj
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01WindowsPhone/Bin
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01WindowsPhone/obj
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.Droid/bin
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.Droid/obj
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.WinPhone/Bin
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.WinPhone/obj
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.iOS/bin
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms.iOS/obj
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms/bin
C8oSDKDotNetSamples/C8oSDKDotNet[!!-~]Solution/Sample01XamarinForms/Sample01XamarinForms/obj
C8oSDKDotNetSamples/packages
